<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
        {% comment %} django messages  {% endcomment %}
        {% if messages %}
        <ul class="messages" id="message_class">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    <div class="container">
        {% if user.is_authenticated %}
        <div class="top-dashboard-div">
            <p class"greetings"><span>Welcome</span>, {{user.email}} </p>
            <button class="logout"><a href="{% url "logout" %}">Logout</a></button>
            </div>
        {% else %}
        <div class="top-dashboard-div">
            <p class"greetings"><span>Welcome</span>, Stranger </p>
            {% comment %} <button class="logout">Logout</button> {% endcomment %}
        </div>
        {% endif %}
        <header>
            <h1>Prompt Dashboard</h1>
        </header>
        <main>
            <section class="new-prompt">
                <button id="new-prompt-btn"><a href="{% url "new_prompt" %}"> Create New Prompt</a></button>
            </section>
            <section class="history">
                <p><b>Prompt History</b></p>

                {% for text in text_prompt  %}
                <p>Custom Prompts</p>
                <ul id="prompt-list">
                    <!-- Example list items -->
                    <li>
                        <span>{{text.title|truncatewords:15}}</span>
                        <button class="view-btn"><a href=""><b>View</b></a></button>
                    </li>
                </ul>
                {% endfor %}


                {% for file in file_prompts %}
                <p>File Prompts</p>
                <ul id="prompt-list">
                    <!-- Example list items -->
                    <li>
                        <span>{{file.title|truncatechars:35}}</span>
                        <button class="view-btn"><a href=""><b>View</b></a></button>
                    </li>
                </ul>
                {% endfor %}
            </section>
        </main>
    </div>
    <script src="{% static 'js/user_script.js' %}"></script>
</body>
</html>
