<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt-Restrictions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages" id="message_class">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="pt-container">
        <h2><label for="id_restrictions">Restrictions</label></h2>
        <form class="p-form" method="post" id="restrictions">
            <textarea name="restrictions" id="id_restrictions" placeholder="Set your restrictions."></textarea>
            <button type="submit">Next</button>
        </form>
    </div>

    <!-- hint conatainer  -->
    <div class="hint-container">
        <h3>Hint</h3>
        {% for h in hint %}
        <p> {{h.restrictions|linebreaks}} </p>
        {% endfor %}
     </div>

     <script src="{% static 'js/user_script.js' %}"></script>
</body>
</html>