<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt-Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    <header class="top-bar">
        <div class="welcome">
            <p>Welcome, {{ user.email }}</p>
        </div>
        <div class="top-bar-buttons">
            <a href="{% url 'dashboard' %}" class="btn">Dashboard</a>
            <a href="{% url 'logout' %}" class="btn logout">Logout</a>
        </div>
    </header>
    
    {% if messages %}
    <ul class="messages" id="message_class">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="p-container">
        <h2><label for="id_title">Title</label></h2>
        {% comment %} <span>Give your prompt a title.</span> {% endcomment %}
        <form class="p-form" method="post" id="title">
            {% csrf_token %}
            <input type="text" name="title" id="id_title" placeholder="Give your prompt a title" required>
            <button type="submit">Next</button>
        </form>
    </div>    
    <script src="{% static 'js/user_script.js' %}"></script>
</body>
</html>