<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    <header class="top-bar">
        <div class="welcome">
            <p>Welcome, {{ user.email }}</p>
        </div>
        <div class="top-bar-buttons">
            <a href="{% url 'dashboard' %}" class="btn">Dashboard</a>
            <a href="{% url 'logout' %}" class="btn logout">Logout</a>
        </div>
    </header>

    

    <!-- Django messages inside form -->
    {% if messages %}
        <ul class="messages" id="message_class">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="prompt-container">
        <h2>Edit Prompt</h2>

        <form method="post" id="textPromptForm">
            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}
            <input type='hidden' name="prompt_id" value="{{prompt.id}}">
            <!-- Form fields with hints -->
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_title">Title</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Give your prompt a descriptive title</p>
                        </span>
                    </span>
                </div>
                {% comment %} <input type="text" name="title" id="id_title" value="{{ title }}" required> {% endcomment %}
                {{form.title}}
            </div>

            <div class="form-field">
                <div class="label-hint">
                    <label for="id_context">Set The Context</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>i.e  who we are, what we do, where we are, etc.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea name="context" id="id_context" value="{{ prompt.context }}"></textarea> {% endcomment %}
                {{form.context}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_role">Role Of AI</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Define the role of AI. i.e Act as a professional, pretend to be, etc.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea  name="role" id="id_role" value="{{ prompt.roles }}"></textarea> {% endcomment %}
                {{form.role}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_goal">Define The Goal</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>i.e Generate concept, Explain, summarize, Analyse, etc.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea name="goal" id="id_goal" value="{{ prompt.goal }}"></textarea> {% endcomment %}
                {{form.goal}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_restrictions">Set Restrictions</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>i.e Restrict contents to a region, Restrict use of certain words, Explore recent studies, etc.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea name="restrictions" id="id_restrictions" value="{{ prompt.restrictions }}"></textarea> {% endcomment %}
                {{form.restrictions}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_audience">Audience</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Describe your audience. i.e Government Agency, Technicals, Beginners.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea name="audience" id="id_audience" value="{{ prompt.audience }}"></textarea> {% endcomment %}
                {{form.audience}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_format_result">Format Result</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Describe how the result is to be formatted. i.e Output as bullet point, short sentences, Summary timeline, etc.</p>
                        </span>
                    </span>
                </div>
                {% comment %} <textarea name="format_result" id="id_format_result" value="{{ prompt.format_result }}"></textarea> {% endcomment %}
                {{form.format_result}}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_writing_style">Writing Style</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Specify a writing style. i.e Convincing, Fluent, Use of analogies, Detailed description, etc.</p>
                        </span>
                    </span>
                </div>
                {{form.writing_style}}
                {% comment %} <textarea name="writing_style" id="id_writing_style" value="{{ prompt.writing_style }}"></textarea> {% endcomment %}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_tone">Tone</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Specify the tone to be used. i.e Formal, Authoritative, Layman, Friendly, Positive, etc.</p>
                        </span>
                    </span>
                </div>
                {{form.tone}}
                {% comment %} <textarea name="tone" id="id_tone" value="{{ prompt.tone }}"></textarea> {% endcomment %}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_keywords">Keywords</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Provide certain Keywords to be included in response.</p>
                        </span>
                    </span>
                </div>
                {{form.keywords}}
                {% comment %} <textarea name="keywords" id="id_keywords" value="{{ prompt.keywords }}"></textarea> {% endcomment %}
            </div>
            
            <div class="form-field">
                <div class="label-hint">
                    <label for="id_examples">Examples</label>
                    <span class="hint">?
                        <span class="hint-box" draggable="true">
                            <span class="hint-close">X</span> <!-- Cancel icon -->
                            <p>Provide an example.</p>
                        </span>
                    </span>
                </div>
                {{form.examples}}
                {% comment %} <textarea name="examples" id="id_examples" value="{{ prompt.examples }}"></textarea> {% endcomment %}
            </div>
            

            <button type="submit">Submit</button>
        </form>

        <div class="result">
            {% if prompt %}
            <h4>Prompt:</h4>
            <p>{{ prompt.question }}</p>
            {% endif %}
            <br/>
            <form method="post" action="{% url 'delete_prompt' prompt.id %}">
                {% csrf_token %}
                <input type="hidden" name="prompt_id" value="{{ prompt.id }}">
                <button class="del-prompt" type="submit">Delete prompt</button>
            </form>
        </div> 
    </div>

    <script src="{% static 'js/user_script.js' %}"></script>
</body>
</html>
