<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt-Writing Style</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
</head>
<body>
    <div class="pt-container">
        <h2>Writing Style</h2>
        <form class="p-form">
            <textarea placeholder="Set your writing style."></textarea>
            <button type="submit">Next</button>
        </form>
    </div>

    <!-- hint conatainer  -->
     <div class="hint-container">
        <h3>Hint</h3>
        <p>jddhdhdhdhdhdhdhdnnchhdhdhncnhdhdhhdhdhdhdhdhdnnchhdhdhncnhdhdhhdhdhdhdhdhdnnchhdhdhncnhdhdhhdhdhdhdhdhdnnchhdhdhncnhdhdhdkkdkdkdkdnnddh</p>
     </div>

     <script src="{% static 'js/user_script.js' %}"></script>
</body>
</html>