body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px; /* Space between fields */
}

label {
    display: block; /* Makes label occupy full width and appear above the input */
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 95%; /* Makes input field span full width of the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #101820;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #101820;
}

.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.messages li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


/* Specific styles for form errors */
.error {
    color: #721c24; /* Red color for form errors */
    font-size: 14px;
    margin-top: 5px; /* Space between error message and input */
    margin-bottom: 0; /* No extra space after the error message */
}
